.main-section {
	display: flex;
	flex-direction: row;
	min-height: 100vh;
}
.main-section-nav {
	width: 30%;
	border: 2px solid red;
}
.main-section-main {
	width: 80%;
	border: 2px solid black;
}
.page-heading {
	font-size: 30px;
	text-align: center;
	margin: 20px;
}
