.make-poll-tips {
	font-size: 18px;
	margin: 25px 20px;
	font-weight: 600;
	font-style: italic;
	color: #f7dba7;
}
.make-poll-input-section {
	font-size: 30px;
}
.make-poll-input-sub {
	border-top: 1px solid black;
	padding: 20px 10px;
	color: #ccc;
}
.make-poll-input-sub input {
	border: none;
	border-bottom: 2px solid black;
	background: none;
	color: #ccc;
	font-size: 24px;
}
input:focus {
	border-bottom: 2px solid #ccc;
	transition: 0.2s;
}
textarea:focus,
input:focus {
	outline: none;
}
.make-poll-input-head {
	display: flex;
}
.make-poll-input-head div {
	margin-right: 20px;
}
.make-poll-btn {
	box-sizing: border-box;
	appearance: none;
	border: 2px solid green;
	border-radius: 2px;
	background-color: rgba(0, 128, 0, 0.2);
	color: green;
	cursor: pointer;
	display: flex;
	align-self: center;
	font-size: 1rem;
	font-weight: 400;
	padding: 1.2em 2.8em;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	font-weight: 700;
}
.make-poll-btn:enabled:hover {
	background-color: rgb(0, 128, 0);
	transform: scale(1.1);
	color: whitesmoke;
}

.make-poll-btn:disabled {
	color: grey;
	background-color: transparent;
	border: 2px solid grey;
}

.make-poll-btn-div {
	display: flex;
	justify-content: center;
}
.make-poll-input-instruction {
	margin-top: 30px;
	font-size: 18px;
	color: #f7dba7;
	font-style: italic;
}
.make-poll-options-input {
	margin: 20px;
}
.question input {
	width: 80%;
}
.option input {
	width: 40%;
}
.number-input {
	width: 10%;
	text-align: center;
}
