.home-section {
	margin-top: 1vh;
}
.home-poll-div {
	border: 1px solid black;
	border-radius: 5px;
	margin: 15px 20px;
	display: flex;
	flex-direction: row;
	padding: 10px;
	box-shadow: 0px 0px 10px black;
	background-color: #202030;
}
.home-poll-div:hover {
	cursor: pointer;
	border: 1px solid #00a6ed;
}

.home-poll-div-qbox {
	padding: 0 10px;
	flex-grow: 1;
}
.home-poll-div-q-details span {
	margin-right: 10px;
}
.home-poll-div-question {
	font-size: 36px;
	padding: 18px 0;
}
.home-poll-div-votes,
.home-poll-div-q-details {
	color: #d0bcd5;
	font-style: italic;
}
